

/* media queries */

@media (min-width: 980px)
{
    .navbar .brand  /* for responsive menu brand - don't show in desktop version */
  {
        display:none;
    }

    .nav .dropdown ul {   /* Don't show dropdown menu if expanded - only on small screen size */
        display:none;
    }

    .nav .open ul {
        display: block;
        height:auto;
    }
}


/* prevent multiple carets */

.caret + .caret { display: none }

a.dropdown-toggle { cursor: pointer }


/* IE8 fix. without it, dropdowns are open by default. */

.navbar, .navbar-inverse,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
.navbar-inverse .navbar-inner,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .navbar-inner
{
    filter: none;
    background-image: none;
}